@model Student

<h1>Student Data</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Age</td>
        <td>@Model.Department?.Name</td>
    </tr>
</table>